@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400; 
}

input::placeholder {
    font-family: 'Josefin Sans', sans-serif;

}



